@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
    background-color: #07020D;
}

main {
    margin-top: auto;
    display: flex;
    justify-content: center;
}

button {
    width: 80px;
    height: 80px;
    font-size: x-large;
    font-family: 'Roboto Mono', monospace;
    background-color:#87F6FF;
    border: #07020D solid 2px;
    border-radius: 8px;
}

button:hover {
    filter: brightness(85%);
}

button:active {
    filter: brightness(75%);
}

button.equals, button.clear{
    flex-grow: 1;
}

button.operation, button.equals, button.clear, button.backspace {
    background-color: #FFFD82;
}

p {
    margin: 0;
    padding: 0;
    text-align: right;
}

p.equation {
    font-size: x-large;
    min-height: 32px;
}

p.result {
    font-size: xx-large;
    min-height: 43px;
}

div.base {
    width: auto;
    height: auto;
    margin-bottom: auto;
    margin-top: auto;
    padding: 16px;
    border-radius: 8px;
    background-color: #C0BABC;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

div.display {
    padding: 8px;
    background-color: #ADFC92;
    border: #07020D solid 2px;
    border-radius: 8px;
}

div.center {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

div.row {
    display: flex;
    gap: 4px;
}

footer {
    color:whitesmoke;
    margin: auto 0 ;
    text-align: center;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}